.header {
  padding: 10px 20px;
  background-color: rgb(240, 248, 255, 0.7);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(95, 95, 95, 0.1), 0 6px 20px 0 rgba(95, 95, 95, 0.1);
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.logo img {
  height: 50px;
}

.routes a {
  font-weight: 600;
  text-decoration: none;
  font-size: large;
  color: var(--deepGreen);
  padding: 10px 10px;
  margin: 0px 10px;
  border-radius: 5px;
}
.profileName {
  margin-left: 10px;
  border: 1px solid var(--deepGreen);
  color: var(--deepGreen);
  padding: 10px 10px;
  font-weight: bold;
  border-radius: 1px 10px 1px 10px !important;
}
.profileImg {
  border-radius: 50%;
  width: 40px;
}
.signout {
  padding: 10px 10px;
  margin: 0px 10px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid var(--deepGreen);
  font-size: 16px;
  color: var(--deepGreen);
  background-color: aliceblue;
}
.routes a:hover {
  background-color: rgb(200, 250, 150);
}

.menuIcon {
  font-size: x-large;
  color: var(--deepGreen);
  display: none; /* Hide the hamburger icon by default on desktop */
  cursor: pointer;
}

.desktopMenu {
  display: flex;
}

.mobileMenu {
  display: none; /* Hide the mobile menu by default on desktop */
}

/* Media query for small screens (mobile) */
@media only screen and (max-width: 768px) {
  .header{
    padding-inline: 10px;
  }
  .desktopMenu {
    display: none; /* Hide the desktop menu on mobile */
  }

  .mobileMenu {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px 20px;
    position: absolute;
    width: 50%;
    top: 80px;
    right: 0;
    z-index: 1;
    background-color: rgb(240, 248, 255, 0.9);
    box-shadow: 0 4px 8px 0 rgba(95, 95, 95, 0.1), 0 6px 20px 0 rgba(95, 95, 95, 0.1);
    border-radius: 10px;
  }

  .profile {
    display: flex;
    flex-direction: row-reverse;
  }

  .menuIcon {
    display: block; /* Show the hamburger icon on mobile */
  }

  .nav.showMenu {
    flex-direction: row;
    align-items: center;
  }
}
