/* SignInSignUpPage.module.css */

.container {
  display: flex;
  height: 100vh;
}

.flex{
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: green;
}

.authImage {
  flex: 1;
}
.authImage img {
  width: 100%;
  height: 100%;
}

.formContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 400px;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.inputGroup {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #8bdf40;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #8bdf40;
}

.socialIcons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.icon {
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s;
  color: #36b82a;
}

.icon:hover {
  color: #8bdf40;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .authImage {
    height: 300px;
  }

  .formContainer {
    order: -1;
  }
}
