.detailsCard {
  max-width: 100%;
  padding: 30px;
  background-color: azure;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

.brandLogo {
  width: 120px;
}

.detailsCard p {
  margin: 10px 0px;
}
.detailsCard h2 {
  color: var(--deepGreen);
  margin-bottom: 10px;
}
